
@{
    ViewBag.Title = "Thongbao";
    Layout = "~/Views/Shared/_Layoutchinh.cshtml";
}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Cảm ơn quỳ khách</h2>
            </div>
            <div class="col-12">
                <a href="/Home/Index">Trang chủ</a>
                <a href="/Product/allProduct">Sản phẩm</a>
            </div>
        </div>
    </div>
</div>
<h3>Đặt hàng thành công!</h3>
<span>Cảm ơn bạn đã mua hàng ở trang web của chúng tôi!!</span>

