<div class="row">
    @foreach (var itemm in Model)
    {

        <div class="col-lg-3 col-md-6">
            <div class="team-item">
                <div style="height:250px;width:250px;" class="team-img">
                    @*<img src="~/Image/ImageUpload/@itemm.anh" alt="Image">*@
                    <div class="team-social">
                        <a href="/Shop/shop/@itemm.maCH"><i class="fas fa-store"></i></a>
                      
                    </div>
                </div>
                <div class="team-text">
                    <h2>@itemm.tenCH</h2>
                    <p>@itemm.diachi</p>
                </div>
            </div>
        </div>

    }
</div>
