<div style="background-color: #FFA500; padding: 5px;" class="header-shop">
    <div class="container">
        <div style="    background-color: white; margin-left: -150px; margin-right: 700px; padding: 5px;" class="row">
            <div class="shop-img">

            </div>
            <div class="header-shop-name">
                <Span style="display: inline;">Cửa hàng: </Span>
                <a href=# style="display: inline;text-decoration: none;">
                    <h4 style="display: inline;">@ViewBag.tench</h4>
                </a>
                <span style="display: block;">số người theo dõi: 120</span>
                <button type="button" class="btn btn-outline-success">Theo dõi</button>
            </div>
        </div>
    </div>
</div>

